<div class="full-wrapper">
    <div class="wrapper">
       <div class="inner-wrapper">
          <h2 class="h2">Hello!!!</h2>
          <h4 class="h4">Enter the username to see recent Tweets, Git contributions and published RubyGems...</h4>
          <%= form_tag result_apis_path, method: "post" do %>
            <div class="input-box">
            <%= text_field_tag :username, nil, placeholder: "Username" %>
            </div>
            <div class="button-wrapper">
              <div class="button"><%= submit_tag("Go") %>
              </div>
            </div>
          <% end %>
       </div>  
     </div>
</div>